{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" , type="text/css" href="{% static 'css/custom_styles.css' %}" />

    <style>
        
        input {
            height: 25px;
        }

        textarea {
            height: 60px;
        }

        .form-gene-field {
            width: 30%;
            margin-bottom: 15px;
            margin-right: 10px;
        }
        
    </style>

</head>

<body>

    <nav>
        <a href="#" class="documentation">Documentation</a>
        <a href="mailto:mrbiosoft@gmail.com" target="_blank">Support</a>
        <a href="#" class=>Logout</a>
        <a href="{% url 'home:menu' %}">Home</a>
    </nav>

    <header>
        <div class="header-1">
            <h1 class="text-heading">Bacterial gene search</h1>
            <h2 class="description-title">The browser for bacterial genome annotation</h2>
            Expanding platform that encompasses annotations and functional analysis of bacterial genomes
        </div>
        <div class="header-2">
            <img src="{% static 'images/mr-biosoft-green.png' %}" />
        </div>
    </header>

    <form method="post" action="gene">

        {% csrf_token %}
        <fieldset>

            <legend>Specific gene search</legend>

            <div class="form-gene-field">
                <label for="accession-number">Accession number</label>
                <input type="text" name="ac" id="accession-number" />
            </div>

            <input type="submit" value="Launch Query" />

        </fieldset>
    
    </form>

    <br/>
    
    <form method="post" action="gene">

        {% csrf_token %}
        <fieldset>

            <legend>Gene set search</legend>

            <h3 class="form-title">Taxonomy</h3>

            <div class="form-gene-field">
                <label for="chromosome">Chromosome</label>
                <input type="text" name="chromosome" id="chromosome" />
            </div>

            <div class="form-gene-field">
                <label for="specie">Specie</label>
                <input type="text" name="specie" id="specie" />
            </div>

            <div class="form-gene-field">
                <label for="strain">Strain</label>
                <input type="text" name="strain" id="strain" />
            </div>

            <h3 class="form-title">Length Gene</h3>

            <div class="form-gene-field">
                <label for="minsize">Minimum (in bp)</label>
                <input type="number" min="0" step="10" name="minsize" id="minsize" />
            </div>

            <div class="form-gene-field">
                <label for="maxsize">Maximum (in bp)</label>
                <input type="number" min="0" step="10" name="maxsize" id="maxsize" />
            </div>

            <div class="form-gene-field"></div>

            <h3 class="form-title">Annotation</h3>

            <div class="form-gene-field">
                <label for="name">Name</label>
                <input type="text" name="gene_name" id="name" />
            </div>

            <div class="form-gene-field">
                <label for="symbol">Symbol</label>
                <input type="text" name="gene_symbol" id="symbol" />
            </div>

            <div class="form-gene-field">
                <label for="function">Function</label>
                <input type="text" name="function" id="function" />
            </div>

            <h3 class="form-title">Other characteristics</h3>

            <div class="form-gene-field">
                <label for="motif">Motif</label><br/>
                <textarea rows="3" name="motif" id="motif"></textarea>
            </div>

            <div class="form-gene-field">
                <label for="reading-frame">Reading Frame</label><br/>
                <select name="read_direction" id="reading-frame">
                <option value="direct-reverse">Direct & Reverse</option>
                <option value="direct">Direct</option>
                <option value="reverse">Reverse</option>
                </select>
            </div>

            <div class="form-gene-field"></div>

            <input type="submit" value="Launch Query" />

        </fieldset>

    </form>

    <br/>

</body>

</html>