{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" , type="text/css" href="{% static 'css/custom_styles.css' %}" />

    <style>
        input {
            height: 25px;
        }
    </style>

</head>

<body>

    <nav>
        <a href="#" class="documentation">Documentation</a>
        <a href="mailto:mrbiosoft@gmail.com" target="_blank">Support</a>
        <a href="#" class=>Logout</a>
        <a href="{% url 'home:menu' %}">Home</a>
    </nav>

    <header>
        <div class="header-1">
            <h1 class="text-heading">Bacterial genome search</h1>
            <h2 class="description-title">The browser for bacterial genome annotation</h2>
            Expanding platform that encompasses annotations and functional analysis of bacterial genomes
        </div>
        <div class="header-2">
            <img src="{% static 'images/mr-biosoft-green.png' %}" />
        </div>
    </header>

    <form method="post" action="genome" class="genome-form-body">
        <!--
        <form method="post" action="annotation/genome" class="genome-form-body">
    -->
        {% csrf_token %}
        <fieldset>

            <legend>Specific genome search</legend>

            <div class="form-genome-field">
                <label for="chromosome">Chromosome</label>
                <input type="text" name="chromosome" id="chromosome" required />
            </div>

            <input type="submit" value="Launch Query" />

        </fieldset>

    </form>

    <br />

    <form method="post" action="genome" class="genome-form-body">
        <!--
            <form method="post" action="annotation/genome" class="genome-form-body">
        -->
        {% csrf_token %}
        <fieldset>

            <legend>Genome set search</legend>

            <h3 class="form-title">Taxonomy</h3>

            <div class="form-genome-field">
                <label for="specie">Specie</label>
                <input type="text" name="specie" id="specie" />
            </div>

            <div class="form-genome-field">
                <label for="strain">Strain</label>
                <input type="text" name="strain" id="strain" />
            </div>

            <h3 class="form-title">Size Genome</h3>

            <div class="form-genome-field">
                <label for="minsize">Minimum (in bp)</label>
                <input type="number" min="0" step="1000" name="minsize" id="minsize" />
            </div>

            <div class="form-genome-field">
                <label for="maxsize">Maximum (in bp)</label>
                <input type="number" min="0" step="1000" name="maxsize" id="maxsize" />
            </div>

            <h3 class="form-title">Other characteristics</h3>

            <div class="form-genome-field">
                <label for="motif">Motif</label><br />
                <textarea rows="3" name="motif" id="motif"></textarea>
            </div>

            <input type="submit" value="Launch Query" />

        </fieldset>

    </form>

</body>

</html>