{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" , type="text/css" href="{% static 'css/custom_styles.css' %}" />
    <script src="{% static 'js/sortable.js' %}"></script>

    <style>

        table {
            width: 100%;
            table-layout: auto;
        }

        td {
            width: 12.5%;
        }

        .shrink {
            width: 10%;
        }

        .expand {
            width: 28%;
        }

    </style>

</head>

<body>

    <nav>
        <a href="#" class="documentation">Documentation</a>
        <a href="mailto:mrbiosoft@gmail.com" target="_blank">Support</a>
        <a href="#" class=>Logout</a>
        <a href="{% url 'home:menu' %}">Home</a>
    </nav>

    <header>
        <div class="header-1">
            <h1 class="text-heading">Bacterial protein search</h1>
            <h2 class="description-title">The browser for bacterial genome annotation</h2>
            Expanding platform that encompasses annotations and functional analysis of bacterial genomes
        </div>
        <div class="header-2">
            <img src="{% static 'images/mr-biosoft-green.png' %}" />
        </div>
    </header>

    <h1 class="results-title">Results</h1>

    <table class="sortable">
        <thead>
            <tr>
                <th>AC</th>
                <th>Chromosome</th>
                <th>Specie</th>
                <th>Strain</th>
                <th>Length (bp)</th>
                <th>Symbol</th>
                <th>Function</th>
            </tr>
        </thead>
        <tbody>
            {% for hit in hits %}
            <tr>
                <td><a href="{% url 'browse:protein' %}?protein={{hit.accession_number}}">{{ hit.accession_number }}</a></td>
                <td><a href="{% url 'browse:genome' %}?chromosome={{hit.chromosome.chromosome}}">{{ hit.chromosome.chromosome }}</a></td>
                <td>{{ hit.chromosome.specie }}</td>
                <td class="shrink">{{ hit.chromosome.strain }}</td>
                <td>{{ hit.aa_length }}</td>
                <td class="shrink">{{ hit.annotation.gene_symbol }}</td>
                <td class="expand">{{ hit.annotation.function}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br/>

</body>

</html>