{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" , type="text/css" href="{% static 'css/custom_styles.css' %}" />

    <style>
        h3 {
            text-align: center;
        }

        select {
            width: 250px;
            border: 2.5px solid #dddddd;
            border-radius: 6px;
            background-color: white;
            margin: 10px 0;
            height: 30px;
            text-align: center;
        }

        input,
        select {
            width: 70%;
            margin: 10px 0;
        }

        input {
            width: 69%;
            height: 25px;
        }

        .button-blast {
            width: 100%;
            text-align: center;
        }
    </style>

</head>

<body>

    <nav>
        <a href="#" class="documentation">Documentation</a>
        <a href="mailto:mrbiosoft@gmail.com" target="_blank">Support</a>
        <a href="#" class=>Logout</a>
        <a href="{% url 'home:menu' %}">Home</a>
    </nav>

    <header>
        <div class="header-1">
            <h1 class="text-heading">Bacterial gene entry</h1>
            <h2 class="description-title">The browser for bacterial genome annotation</h2>
            Expanding platform that encompasses annotations and functional analysis of bacterial genomes
        </div>
        <div class="header-2">
            <img src="{% static 'images/mr-biosoft-green.png' %}" />
        </div>
    </header>

    <h1 class="body-main-title">
        Entry {{ entry.accession_number }}
        {% if entry.chromosome.specie %}
        ({{ entry.chromosome.specie }})
        {% endif %}
    </h1>

    <section class="entry">

        <section class="entry-information">

            <section class="entry-column-information">

                <h3 class="entry-title">General Information</h3>

                <table class="entry-information-table">
                    <tr>
                        <td>Accession number:</td>
                        <td>{{ entry.accession_number }}</td>
                    </tr>
                    <tr>
                        <td>Specie:</td>
                        <td>{{ entry.chromosome.specie }}</td>
                    </tr>
                    <tr>
                        <td>Strain:</td>
                        <td>{{ entry.chromosome.strain }}</td>
                    </tr>
                    <tr>
                        <td>Chromosome:</td>
                        <td>{{ entry.chromosome.chromosome }}</td>
                    </tr>
                    <tr>
                        <td>Length (bp):</td>
                        <td>{{ entry.dna_length }}</td>
                    </tr>
                    <tr>
                        <td>Start position:</td>
                        <td>{{ entry.start_position }}</td>
                    </tr>
                    <tr>
                        <td>End position:</td>
                        <td>{{ entry.end_position }}</td>
                    </tr>
                    <tr>
                        <td>Reading frame:</td>
                        {% if entry.reading_frame == 1 %}
                        <td>direct</td>
                        {% elif entry.reading_frame == -1 %}
                        <td>reverse</td>
                        {% else %}
                        <td>None</td>
                        {% endif %}
                    </tr>
                </table>

            </section>

            <section class="entry-column-information">

                <h3 class="entry-title">Annotation</h3>

                <table class="entry-information-table">
                    <tr>
                        <td>Gene name:</td>
                        <td>{{ entry.annotation.gene_name }}</td>
                    </tr>
                    <tr>
                        <td>Gene symbol:</td>
                        <td>{{ entry.annotation.gene_symbol }}</td>
                    </tr>
                    <tr>
                        <td>Gene biotype:</td>
                        <td>{{ entry.annotation.gene_biotype }}</td>
                    </tr>
                    <tr>
                        <td>Function:</td>
                        <td>{{ entry.annotation.function }}</td>
                    </tr>
                </table>

            </section>

        </section>

        <br />

        <section class="entry-information">

            <section class="entry-column-information">

                <h3 class="entry-title">Sequence</h3>

                <div class="gene-sequence">

                    {{ entry.geneseq.sequence }}

                </div>

            </section>

            <section class="entry-column-information">

                <h3 class="entry-title">External link</h3>

                You can have complementary information with the following databanks:
                <ul>
                    <li><a href="https://www.ncbi.nlm.nih.gov/gene/?term={{entry.accession_number}}"
                            target="_blank">National Center for Biotechnology Information (NCBI)</a></li>
                    <li><a href="https://www.ebi.ac.uk/ena/browser/view/{{entry.accession_number}}"
                            target="_blank">European Nucleotide Archive (ENA)</a></li>
                    <li><a href="https://www.uniprot.org/uniprot/?query={{entry.accession_number}}&sort=score"
                            target="_blank">UniProtKB</a></li>
                </ul>

            </section>

        </section>

        <section class="entry-information">

            <section class="entry-column-information">

                <h3 class="entry-title">Blast</h3>

                <form method="post" action="gene" target="_blank">

                    {% csrf_token %}

                    <input type="hidden" name="sequence" value={{ entry.geneseq.sequence }} />
                    <div class="blast-field">
                        <label for="database">Database</label>
                        <select name="database" id="database">
                            <option value="nr">Nucleotide collection (nr)</option>
                            <option value="refseq_rna">Reference RNA sequences (refseq_rna)</option>
                            <option value="refseq_genomic">RefSeq Genome Database (refseq_genomes)</option>
                            <option value="patnt">Patent sequences (patnt)</option>
                            <option value="pdbnt">PDB nucleotide database (pdb)</option>
                            <option value="wgs">Whole Genome Shotgun Contigs (WGS)</option>
                        </select>
                    </div>

                    <div class="blast-field">
                        <label for="optimization">Optimization</label>
                        <select name="optimization" id="optimization">
                            <option value="blastn">blastn</option>
                            <option value="megablast">megablast</option>
                        </select>
                    </div>

                    <div class="blast-field">
                        <label for="word-size">Word Size</label>
                        <input type="number" min="4" step="1" name="word-size" id="word-size" /></td>
                    </div>

                    <br /><br />

                    <div class="button-blast">
                        <input type="submit" value="Launch Blast" />
                    </div>

                </form>

            </section>

        </section>

    </section>

</body>

</html>