body {
    max-width: 1260px;
    color: #525252;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

a:hover {
    cursor:pointer;
    text-decoration: underline;
}

/* Navigation */
nav {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #dddddd;
}

nav a {
    color: rgb(175, 87, 87);
    width: 88px;
    text-align:center;
    text-decoration: none;
}

.documentation {
    width: 160px;
}

nav a:hover {
    color: rgb(153, 3, 3);
}

/* Header */

header{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

/* Body */

h1 {
    font-size:0.9cm;
}

h2 {
    font-size:0.7cm;
}

/* Main Page */


.body-main-title {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    text-align: left;
}

.database-annotation {
    display: flex;
    flex-direction: row;
}

.database-annotation-column {
    margin-right: 10%;
    width: 50%;
}

.column-main-title {
    color: rgb(68, 183, 139);
    padding-bottom: 0;
    margin-bottom: 0;
}

a {
   color: rgb(175, 87, 87);
   width: 88px;
   text-align: center;
   text-decoration: none;
}

hr {
    margin-top: 5px;
    background-color: #efefef;
    color: #efefef;
    height: 2.5px;
    border: none;
}
